<script src="https://apis.google.com/js/platform.js"></script>
<section  class="download bg-primary text-center">
    <div id="patreon" class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Chceš Exklusivní obsah nebo vidět Walomeho trpět u Nolanova Batmana?</h3>
                <p>Ano! Tak neváhej zavítat na jeho Patreon a šoupni mu pár chechtáku na chipsy a Netflix.</p>
                <div class="patreon-button">
                    <a href="https://www.patreon.com/bePatron?u=4189206" data-patreon-widget-type="become-patron-button">Become a Patron</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="youtube" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Už jsi viděl/a nejnovějšího <strong>Walomeho</strong>?</h3>
                <p>Ne? Tak to radši ihned naprav!</p>
                <div class="g-ytsubscribe" data-channelid="UC3wsOiRyuLHMtUhKBGFSAWw" data-layout="full" data-theme="dark" data-count="default"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=UU3wsOiRyuLHMtUhKBGFSAWw" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div id="facebook" class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Videa nejsou vše! Na Facebooku více infa.</h3>
                <p>Hned klikej na Walomeho FB Page.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="fb-page" data-href="https://www.facebook.com/WalomeYT/" data-tabs="timeline,events,messages" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/WalomeYT/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/WalomeYT/">Komiksové Noviny</a></blockquote></div>
            </div>
        </div>
    </div>
</section>
