<section id="projekty" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Walomeho další projekty</h2>
                <p>Pokud tě baví Walome, kde do čeho se ještě cpe.</p>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid" style="background: transparent;">
        <div class="row no-gutter" style="background: transparent;">
            <div class="col-lg-6 col-sm-6">
                <a href="http://www.dagon.cz/" class="portfolio-box" target="_blank">
                    <img src="{{ site.rewrite }}img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Dagon.cz
                            </div>
                            <div class="g-ytsubscribe" data-channelid="UCniYTdtDdJWdK8nqsQxfyDA" data-layout="full" data-theme="dark" data-count="default"></div>
                        </div>
                    </div>
                </a>
            </div>
            <!--<div class="col-lg-6 col-sm-6">
                <a href="https://www.youtube.com/watch?v=7ony8qAk3cc&list=PL_phu8k3RmzR8p1VmgZLoY1FJ4igmCrqg" class="portfolio-box" target="_blank">
                    <img src="{{ site.rewrite }}img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Walomeho DiCKK
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->
            <div class="col-lg-6 col-sm-6">
                <a href="http://komiksovenoviny.cz/" class="portfolio-box" target="_blank">
                    <img src="{{ site.rewrite }}img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Komiksové Noviny
                            </div>
                            <div class="g-ytsubscribe" data-channelid="UC0TT9mO72wxlgBVR-7vq5ug" data-layout="full" data-theme="dark" data-count="default"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
