<section id="vyslo" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Walomeho DiCKK</h2>
                <p>Komiksový komplet trochu jinak - s humorem, nadsázkou a Walomem</p>
                <table id="dickk" class="display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Název</th>
                            <th>comicsdb</th>
                            <th>Náhled</th>
                            <th>Youtube</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody id="dickkBody"></tbody>
                    <tfoot style="display: none;">
                        <tr>
                            <th>Název</th>
                            <th>comicsdb</th>
                            <th>Náhled</th>
                            <th>Youtube</th>
                            <th>Timestamp</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
