<section id="vyslo" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading">Nové komiksy v češtině</h2>
                <p>Zdroj <a href="https://comicsdb.cz/" target="_blank" style="color: white;">comicsdb.cz</a></p>
                <table id="comics" class="display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Obálka</th>
                            <th>Název</th>
                            <th>Cena</th>
                            <th>Vydal</th>
                            <th>Vydáno</th>
                            <th>Vazba</th>
                            <th>Format</th>
                            <th>Počet stran</th>
                        </tr>
                    </thead>
                    <tbody id="comicsBody"></tbody>
                    <tfoot style="display: none;">
                        <tr>
                            <th>Obálka</th>
                            <th>Název</th>
                            <th>Cena</th>
                            <th>Vydal</th>
                            <th>Vydáno</th>
                            <th>Vazba</th>
                            <th>Format</th>
                            <th>Počet stran</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
