<section id="whatiswalomecon" class="features download text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Vznik WalomeCONu</h3>
                <p>Walomecon měla původně být jen fiktivní událost na facebooku. Událost, která se posmívá nekvalitnímu PR, dnes již zrušené akce PRagueCON. Nicméně byl osloven tajemným mužem v kabátu a byl mu vnuknut nápad – co takhle WalomeCON skutečně uspořádat? A co ho uspořádat třeba v Alze, kde si návštěvníci budou moci zahrát herní novinky a poslechnout si pár zajímavých hostů? 
Pikantní je, že celá nápad ohledně WalomeCONu vznikl na záchodě, během vykonávání velké potřeby, takže zkratka „WC“ je skutečně výmluvná.</p>
            </div>
        </div>
    </div>
</section>